@font-face {
    font-family: 'Etna';
    src: local('Etna'),
        url('font/subset-Etna.woff2') format('woff2'),
        url('font/subset-Etna.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aaux ProMedium';
    src: local('Aaux ProMedium'), local('AauxProMedium'),
        url('font/subset-AauxProMedium.woff2') format('woff2'),
        url('font/subset-AauxProMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

#sidenav {
    display: flex;
    align-items: center;
	height: 100%;
	padding: 0;
	position: fixed;
	z-index: 1;
	top: 0;
    right: 0;
	background-color: #ECECEC;
	border: 0 none transparent;
    transform: translateX(100%) translateX(-40px);
    transition: transform .6s cubic-bezier(0.83, 0, 0.17, 1);
}

#sidenav.opened {
    transform: translateX(0%);
}

#sidenav .bto-accordion {
	text-decoration: none;
	font-size: 28px;
	color: #545454;
	display: block;
	text-align: right;
	font-family: 'Etna', sans-serif;
	font-weight: 400;
	letter-spacing: 1px;
	padding: 0px;
    background: none;
    border: 0;
    width: 100%;
    cursor: pointer;
    margin-bottom: 8px;
}

#imgButton {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto 5px;
    padding: 0;
    width: 30px;
    height: fit-content;
}

#tdbotaomenu {
    flex-grow: 1;
	padding: 0;
	width: 40px;
    height: inherit;
	text-align: center;
	background-color: #d8d8d8;
	cursor: pointer;
}

.tdmenu {
    display: inline-flex;
    align-items: center;
	height: inherit;
	white-space: nowrap;
	text-align: right;
    flex-grow: auto;
}

.tdmenu.with-watermark {
	background-image: url(img/allRightsReserved.svg);
	background-repeat: no-repeat;
	background-position: center bottom 15px;
	background-size: 268px 30px;
}

.navbar {
    display: block;
    z-index: 9999;
    padding: 0 24px;
}

.navbar > ul {
    display: inline-flex;
    flex-direction: column;
    gap: 8px 0;
    justify-content: space-between;
	overflow-x: hidden;
    overflow-y: auto;
    max-height: 100vh;
	background: #ececec;
    box-sizing: border-box;
    padding: 64px 8px 64px 0;
}

.navbar ul::-webkit-scrollbar {
	width: 5px;
}

.navbar ul::-webkit-scrollbar-thumb {
	background: #888;
}

.navbar ul::-webkit-scrollbar-thumb:hover {
	background: #888; 
}

.navbar ul > li {
	list-style-type: none;
    line-height: 0;
}

li.itemmenu {
	color: #494949;   
	font-family: 'Aaux ProMedium', sans-serif;   
}

#list {
	max-height: 0px;
	transition: 0.6s ease;
	text-align: right;
	padding: 0px;
	font-family: 'Aaux ProMedium', sans-serif;
    display: inline-flex;
    flex-direction: column;
    gap: 16px 0;
    margin-right: -8px;
    padding-right: 8px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.itemmenu.opened #list {
    max-height: 25em;
}

#list li {
    margin-top: 12px;
}

#list li:last-of-type {
    margin-bottom: 12px;
}

#list a {
	color: #999;
	font-size: 20px;
	font-family: 'Aaux ProMedium', sans-serif;
	font-weight: 400;
	transition: 0.2s;
    text-decoration: none;
    cursor: pointer;
    
}

#list a:hover {
	color: #494949;
}

#customLoadingScreenDiv:after {
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
